/* accordion panel style */

.acccordion-panel {
	margin:0 0 49px;
	@include media('<tablet') {margin:0 0 20px;}
	.panel-heading {
		text-transform:uppercase;
		padding:10px 0;
		font: bold 30px/32px $base-font-sans-serif;
		border-bottom:2px solid #f2f2f2;
		position:relative;
		@include media('<desktop') {
			font-size:24px;
			line-height:26px;
		}
		@include media('<tablet') {
			font-size:20px;
			line-height:22px;
		}
		&.active {
			.icon-arrow-left {transform: rotate(90deg);}
		}
		.icon-arrow-left {
			@include animate(transform);
			color:$blue;
			transform: rotate(-90deg);
			font-size: 20px;
			margin: 7px 4px 0 0;
			position:absolute;
			right:0;
			top:15px;
			@include media('<tablet') {top:6px;}
		}
		a {
			display:block;
			color:$black;
			text-decoration:none;
			padding:0 25px 0 0;
		}
	}
}