/* home post style */

.top-post-home {
	font: 14px/20px 'Arial';
	color: #545454;
	margin:0 0 10px;
	.h4 {
		font: bold  40px/42px 'TradeGothic';
		margin:0 0 2px;
		color: $blue;
	}
	.img-box {
		position:relative;
	}
	.block-info {
		position:absolute;
		right:18px;
		bottom:10px;
	}
	img {
		width:100%;
		vertical-align:top;
	}
	p {margin:0 0 17px;}
}

.info-like,
.info-comment {
	color: $white;
	position:relative;
	padding:0 0 0 20px;
	font-size: 12px;
	font-weight: bold;
	margin:0 0 0 20px;
	&:before {
		@extend [class^="icon-"];
		@extend .icon-favorite_border;
		position:absolute;
		font-size:16px;
		left:0;
		top: 48%;
		transform:translateY(-50%);
	}
}
.info-comment {
	&:before {
		content: "\e902";
		font-size:12px;
	}
}
.three-column {
	color: #545454;
	margin:0 0 20px;
	font-size:22px;
	line-height:25px;
	font-weight:bold;
	display:flex;
	justify-content: space-between;
	.box {
		width:32.5%;
		background: $gray-light;
		padding:10px;
	}
	.title {
		background: #003dd0;
		display:flex;
		justify-content: space-between;
		font-size:23px;
		color:#fee934;
		text-transform:uppercase;
		margin:-10px -10px 0;
		padding: 2px 5px 0px 10px;
		align-items: center;
	}
	.data {
		font-family:'Arial';
		font-weight:normal;
		font-size:12px;
		line-height:14px;
	}
	.logo-box {
		img {
			margin:0;
		}
	}
	.row {
		padding:0 0 10px 6px;
		margin:0 0 2px;
		border-bottom:1px solid #d8d8d8;
		&:last-child {
			padding:0 0 0 6px;
			border:none;
		}
	}
	.block {
		padding:4px 0 0 0;
	}
	img {
		width:100%;
		vertical-align:bottoёm;
		margin:0 0 13px;
	}
	p {margin:0;}
}

.video-post {
	color: #545454;
	font: 16px/25px 'Arial';
	display:flex;
	justify-content: space-between;
	.box {
		width:48.5%;
	}
	.row {
		display:flex;
		justify-content: space-between;
		margin:0 0 20px;
		padding:0 0 20px;
		border-bottom:1px solid #ebeff2;
	}
	.img-row {
		width:37%;
	}
	.text-row {
		width:63%;
		padding:0 0 0 21px;
	}
	.img {
		margin:0 0 18px;
		position:relative;
	}
	.h4 {
		font: bold  29px/34px 'TradeGothic';
		margin:0;
	}
	.h3 {
		font: bold  26px/24px 'TradeGothic';
		margin:0;
	}
	.text {
		padding:0 0 48px 10px;
		border-bottom:1px solid #ebeff2;
	}
	.title {
		display:flex;
		justify-content: space-between;
		margin:0 28px 12px 0;
		align-items: center;
		.btn-play {
			min-width:60px;
			height:60px;
			margin:0 30px 0 0;
			font-size:25px;
			margin:0;
		}
	}
	.data {
		line-height:16px;
	}
	.btn-wifi,
	.btn-play {
		@include animate(color background);
		float:right;
		border-radius:100px;
		background: $red;
		color:$white;
		position:relative;
		min-width:40px;
		height:40px;
		font-size:18px;
		margin:3px 6px 0 0;
		border: 2px solid $red;
		&:before {
			@extend [class^="icon-"];
			@extend .icon-play;
			position:absolute;
			left:55%;
			top:50%;
			transform:translate(-50%,-50%);
		}
		&:hover {
			background:$white;
			color: $red;
		}
	}
	.btn-wifi:before {
		@extend .icon-rss;
		left:50%;
	}
	.info-like {
		position:absolute;
		right: 18px;
		bottom: 6px;
	}
	img {
		width:100%;
		vertical-align:top;
	}
	p {margin:0;}
}