/* nav page style */
$nav-page-color: #777272;
$nav-page-hover: #000;
$nav-page-active: #000;
$nav-border-color: #f2f2f2;

.nav-page {
	@extend %listreset;
	display:flex;
	flex-wrap: wrap;
	font-size:22px;
	line-height:24px;
	font-weight:bold;
	margin:0 0 34px;
	position:relative;
	&:before{
		content:'';
		width:100%;
		height:3px;
		position:absolute;
		bottom:0;
		left:0;
		right:0;
		background: $nav-border-color;
	}
	@include media('<1250px') {
		justify-content: space-between;
		&:after {
			content: '';
			display:flex;
			width: 33.3%;
		}
	}
	@include media('<desktop') {
		font-size:19px;
		line-height:21px;
	}
	li {
		border-bottom: 3px solid $nav-border-color;
		padding-bottom:6px;
		display: flex;
		@include media('<1250px') {
			width:33.3%;
			text-align:center;
			padding-left:10px;
		}
		@include media('<phone') {
			width:50%;
		}
		&:not(:last-child) {
			padding-right:19px;
			@include media('<1250px') {
				padding-right:10px;
			}
		}
	}
	.is-active {
		a {
			color:$nav-page-active;
			&:before {width:100%;}
		}
	}
	a {
		@include animate(color);
		display: flex;
		align-items: center;
		justify-content: center;
		width:100%;
		color:$nav-page-color;
		cursor:pointer;
		position:relative;
		&:hover {
			color:$nav-page-hover;
			&:before {width:100%;}
		}
		&:before{
			@include animate(width);
			content:'';
			width:0;
			height:3px;
			background:$nav-page-active;
			position:absolute;
			left:0;
			bottom:-8px;
		}
	}
}