/* post time style */
.posts-arhive {
	padding:29px 0 47px;
	&.no-time {
		.row {
			margin:0 0 50px;
			@include media('<tablet') {margin:0 0 25px;}
		}
	}
	.row {
		display:flex;
		overflow:hidden;
		&:not(:last-child) {padding:0 0 23px;}
		@include media('<phone') {flex-wrap: wrap;}
	}
	.time-box {
		min-width:90px;
		max-width:90px;
		position:relative;
		@include media('<desktop') {
			min-width:50px;
			max-width:50px;
		}
		@include media('<phone') {
			min-width:100%;
			max-width:100%;
		}
		&:before {
			content: '';
			position:absolute;
			left:28px;
			top:0;
			height:9999px;
			width:1px;
			background:#e0e0e0;
			@include media('<desktop') {left:22px;}
			@include media('<phone') {display:none;}
		}
		time {
			font: 18px/1 $base-font-arial;
			position: relative;
			z-index: 1;
			padding: 5px 4px;
			background: #fff;
			display:block;
			margin:23px 0 0;
			@include media('<desktop') {font-size:12px;}
			@include media('<phone') {margin:0 0 10px;}
		}
	}
	.img {
		min-width:190px;
		max-width:190px;
		@include media('<desktop') {
			min-width:150px;
			max-width:150px;
		}
		@include media('<phone') {
			min-width:100%;
			max-width:100%;
			margin:0 0 10px;
		}
	}
	.text {
		font: 13px/20px $base-font-arial;
		flex:auto;
		padding:0 0 0 20px;
		@include media('<phone') {padding:0;}
	}
	.h3 {
		font: bold 25px/27px $base-font-sans-serif;
		text-transform:uppercase;
		color:$red;
		margin:0 0 3px;
		@include media('<desktop') {
			font-size:20px;
			line-height:22px;
		}
	}
	.time {
		font: bold 18px/21px $base-font-arial;
		color:$black;
		display:block;
		margin:0 0 6px;
		@include media('<tablet') {
			font-size:14px;
			line-height:16px;
		}
	}
	.link {
		@include animate(opacity);
		font: bold 14px/16px $base-font-arial;
		text-transform:uppercase;
		text-decoration:none;
		color:$blue;
		&:hover {opacity:.7;}
	}
	p {margin:0 0 6px;}
	img {
		width:100%;
		vertical-align:top;
	}
}