/* post list style */
.post-list-holder {
	margin:0 0 25px;
	.row {
		display:flex;
		justify-content: space-between;
		@include media('<phone') {
			display:block;
		}
		&:not(:last-child) {
			margin: 0 0 28px;
			border-bottom: 1px solid #e4e4e4;
			padding: 0 0 28px;
		}
	}
	.img-box {
		width:32%;
		@include media('<phone') {
			width:100%;
		}
		img {width:100%;}
	}
	.text-box {
		font: 14px/18px 'Arial';
		width:68%;
		padding: 0 0 0 17px;
		margin: -5px 0 0;
		@include media('<phone') {
			width:100%;
			padding:0;
			margin:0;
		}
	}
	.title {
		margin:0 0 10px;
		font-weight:bold;
	}
	.name {
		font:bold 30px/32px 'TradeGothic';
		color:$black;
		@include media('<tablet') {
			font-size:21px;
			line-height:23px;
		}
	}
	.info {
		font:bold 25px/27px 'TradeGothic';
		color:#777272;
		@include media('<tablet') {
			font-size:20px;
			line-height:22px;
		}
	}
	.info2 {
		font:16px/18px 'TradeGothic';
		color:#dd1424;
		text-transform:uppercase;
		font-weight:bold;
		letter-spacing:0.8px;
		display:block;
		margin:0 0 4px;
		@include media('<tablet') {
			font-size:14px;
			line-height:16px;
		}
	}
	.info3,
	.info4 {
		font-size:14px;
		line-height:16px;
		color: $blue;
		font-weight: bold;
		margin: 0 4px 0 0;
		text-transform:uppercase;
	}
	.info4 {
		color: $black;
		text-transform:none;
	}
}

/* arhive post style */

.arhive-post {
	.row {
		display:flex;
		justify-content: space-between;
	}
	.img-box {
		width:30%;
	}
	.text-box {
		width:70%;
	}
	.h4 {
		font: bold 25px/27px 'TradeGothic';
		text-transform:uppercase;
		margin:0 0 10px;
		color:$red;
	}
}