/* slider playlist style */

.slider-playlist-box {
	.h4 {
		font: bold  36px/38px 'TradeGothic';
		text-transform:uppercase;
		margin:0 0 10px;
		color:$blue;
		@include media('<tablet') {
			font-size:30px;
			line-height:32px;
			margin:0 0 8px;
		}
	}
}

.slider-playlist {
	margin:0 0 33px;
	@include media('<tablet') {margin:0 0 21px;}
	&.owl-theme {
		.owl-prev,
		.owl-next {
			@include animate(opacity);
			position:absolute;
			left:10px;
			top:50%;
			transform:translateY(-50%);
			width:50px;
			height:50px;
			border-radius:100px;
			background:$white;
			font-size:0;
			@include media('<tablet') {
				width:25px;
				height:25px;
				left:0;
			}
			&:before {
				@extend [class^="icon-"];
				@extend .icon-arrow-left;
				position:absolute;
				left:50%;
				top:50%;
				transform:translate(-50%,-50%);
				color: #084e8f;
				font-size:21px;
				font-weight:bold;
				@include media('<tablet') {font-size:11px;}
			}
			&:hover {
				background:$white;
				opacity:.8;
			}
		}
		.owl-next {
			left:auto;
			right:10px;
			@include media('<tablet') {
				left:auto;
				right:0;
			}
			&:before {
				transform:translate(-50%,-50%) rotate(180deg);
			}
		}
	}
	.slide{
		position:relative;
		display:block;
		&:hover {
			.hover-box {
				transform: scale(1);
			}
		}
	}
	.hover-box {
		@include animate(transform);
		font-size:21px;
		line-height:23px;
		font-weight:bold;
		display:flex;
		flex-direction: column;
		justify-content: space-between;
		position:absolute;
		left:0;
		top:0;
		right:0;
		bottom:0;
		transform: scale(0);
		padding: 7px 15px;
		background: rgba(8,120,153,.5);
		text-transform:uppercase;
		color: $yellow;
		@include media('<tablet') {
			font-size:13px;
			line-height:15px;
		}
		.text1 {
			display:block;
		}
		.text2 {
			display:block;
			font-size:37px;
			line-height:39px;
			color: $white;
			@include media('<tablet') {
				font-size:22px;
				line-height:27px;
			}
		}
		.text3 {
			display:block;
			font-size:18px;
			line-height:20px;
			@include media('<tablet') {
				font-size:11px;
				line-height:13px;
			}
		}
		.info {
			display:inline-flex;
			justify-content: space-between;
			align-items: center;
			background: $white;
			font-size: 28px;
			padding: 5px;
			border-radius:8px;
			@include media('<tablet') {
				font-size: 18px;
				padding: 4px 3px;
				border-radius: 5px;
			}
		}
		.number {
			border-radius:100px;
			background: $yellow;
			width:35px;
			height:35px;
			margin:0 0 0 1px;
			display: flex;
			align-items: center;
			justify-content: center;
			color: $white;
			@include media('<tablet') {
				width:19px;
				height:19px;
				font-size:12px;
			}
		}
	}
	.btn-box {
		text-align: right;
	}
}