// baner of the page
.baner-main
    .img-box
        img(src="assets/images/image-main01.jpg", alt="image description")
    .text-box
        .text
            span.info l’invité du matin
            h3.h3 Annick girardin 
            p La ministre des Outre Mer a dressé le bilan de sa venue ce matin
            .btn-holder
                button.btn écouter