// breadcrumb of the page
.breadcrumb-wrap
    ul.breadcrumb
        li 
            a(href="#") Accueil
        li 
            a(href="#") RRB
        li 
            a(href="#") Équipe
        li 
            a(href="#") Animateurs