// contact form of the page
.contact-form-box
    form(action='#')
        .row
            .box
                label Nom
                    span *
                input.form-control(type='text', placeholder='' name='name' required)
            .box
                label e-mail
                    span *
                input.form-control(type='text', placeholder='' name='name' required)
        .row
            .box
                label objet
                    span *
                select.selectpicker(required)
                    option Service Pub
                    option Service Pub1
                    option Service Pub3
                    option Service Pub4
        .row
            .box
                label message 
                    span *
                textarea(required)
        .row
            .box
                span.info * Champs obligatoires
            .box
                input.btn-primary(type='submit', value='envoyer')