#footer
    .container
        .col-wrapper
            .col
                strong.title Twitter Widget
                .twitter-holder
                    img(src="assets/images/twitter-placeholder.png", alt="widget")
                .social-holder
                    strong.title social widget
                    ul.social-net-share
                        li.social-facebook
                            a(href="#" target="_blank")
                                i.icon-facebook
                        li.social-twitter
                            a(href="#" target="_blank")
                                i.icon-twitter
                        li.social-vk
                            a(href="#" target="_blank")
                                i.icon-vk
                        li.social-pinterest
                            a(href="#" target="_blank")
                                i.icon-pinterest
                        li.social-tumblr
                            a(href="#" target="_blank")
                                i.icon-tumblr
                        li.social-dribbble
                            a(href="#" target="_blank")
                                i.icon-dribbble
            .col
                strong.title instagram
                ul.inst-img-list
                    li
                        a(href="#" target="_blank")
                            img(src="assets/images/inst-img1.jpg", alt="instagram image")
                    li
                        a(href="#" target="_blank")
                            img(src="assets/images/inst-img2.jpg", alt="instagram image")
                    li
                        a(href="#" target="_blank")
                            img(src="assets/images/inst-img3.jpg", alt="instagram image")
                    li
                        a(href="#" target="_blank")
                            img(src="assets/images/inst-img4.jpg", alt="instagram image")
                    li
                        a(href="#" target="_blank")
                            img(src="assets/images/inst-img5.jpg", alt="instagram image")
                    li
                        a(href="#" target="_blank")
                            img(src="assets/images/inst-img6.jpg", alt="instagram image")
            .col
                strong.title news letter
                .contact-form
                    form(action="#")
                        input(type="text" required placeholder="Nom")
                        input(type="email" required placeholder="Adresse mail")
                        textarea( cols="30", rows="10" required placeholder="Message")
                        button(type="submit") Inscription
            .col
                a(href="#")
                    img(src="assets/images/logo-lg.svg", alt="RRB" width="309" height="168")

                
        
script(src='assets/js/vendor.min.js', defer='')
script(src='assets/js/app.js', defer='')