header#header
    .container
        .header-top
            a.logo-full(href="#")
                img(src="assets/images/logo-full.png", alt="Radio Rythme Blev")
            ul.nav-list
                li
                    a(href="#")
                        i.icon-radio
                        strong.link-text écouter
                li
                    a(href="#")
                        i.icon-tv
                        strong.link-text regarder
                li
                    a(href="#")
                        i.icon-podcast
                        strong.link-text podcasts
                li
                    a(href="#")
                        i.icon-frequence
                        strong.link-text fréquences
            form.search-form(action="#")
                input(type="text" placeholder="Rechercher")
                button(type="submit")
                    i.icon-search
    .header-center
        .header-center-top
            .container
                .header-center-top-wrapper
                    a.logo(href="#")
                        img(src="assets/images/logo-color.png", alt="RRB")
                    .hero-holder
                        .name-holder
                            span.descr à l’antenne
                            strong.name jeudi hippique
                        img(src="assets/images/header-hero.png", alt="jeudi hippique")
                    .apps-box
                        .player
                            .play-info
                                span.top-title Player
                                span.main-title écoutez le direct
                                .progress
                                    span.remaining(style='width:70%;')
                                .bottom-info
                                    span.track-info Space oddity
                                    span.author DAVID BOWIE
                            button.play-button 
                                i.icon-play
                        .weather-holder
                            img(src="assets/images/weather-widget.png", alt="weather widget")
                        .clock-holder
                            img(src="assets/images/clock.png", alt="clock")
        .header-center-bottom
            .container
                .owl-carousel.owl-theme.program-slider
                    .slide.now-playing
                        time.time(datetime="2017-05-15 7:30") 7h30
                        .text
                            strong.title L 'INVITé DU MATIN
                            span.text-descr par Camille Blondel
                    .slide 
                        time.time(datetime="2017-05-15 7:30") 7h30
                        .text
                            strong.title L 'INVITé DU MATIN
                            span.text-descr par Camille Blondel
                    .slide 
                        time.time(datetime="2017-05-15 7:30") 7h30
                        .text
                            strong.title L 'INVITé DU MATIN
                            span.text-descr par Camille Blondel
                    .slide 
                        time.time(datetime="2017-05-15 7:30") 7h30
                        .text
                            strong.title L 'INVITé DU MATIN
                            span.text-descr par Camille Blondel
                    .slide 
                        time.time(datetime="2017-05-15 7:30") 7h30
                        .text
                            strong.title L 'INVITé DU MATIN
                            span.text-descr par Camille Blondel
                    .slide 
                        time.time(datetime="2017-05-15 7:30") 7h30
                        .text
                            strong.title L 'INVITé DU MATIN
                            span.text-descr par Camille Blondel                                                                                    
