head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.')
  meta(name="theme-color" content="#ffffff")
  title Radio Rythme Blev
  link(media='all', rel='stylesheet', href='assets/css/vendor.min.css')
  link(media='all', rel='stylesheet', href='assets/css/style.min.css')
  link(rel="apple-touch-icon" sizes="144x144" href="assets/images/favicons/apple-touch-icon.png")
  link(rel="icon" type="image/png" sizes="32x32" href="assets/images/favicons/favicon-32x32.png")
  link(rel="icon" type="image/png" sizes="16x16" href="assets/images/favicons/favicon-16x16.png")
  link(rel="manifest" href="assets/images/favicons/manifest.json")
  link(rel="mask-icon" href="assets/images/favicons/safari-pinned-tab.svg" color="#5bbad5")
  link(rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ==" crossorigin="")
  script(src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js" integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log==" crossorigin="")