.heading
    h3.h3 à la une
.top-post-home
    h4.h4 Lorem ipsum sin dolores sint occaecat mollit
    p The one constant thing in our life is change. We cannot avoid it and the more we resist change the tougher our life becomes. I know this because I was very skilled at deflecting change in life.
    h5.h5 découvrez toute l‘actu
    .img-box
        img(src="assets/images/image-main02.jpg", alt="image description")
        .block-info
            span.info-comment 7
            span.info-like 15
// posts of the page
.three-column
    .box
        .img-holder
            img(src="assets/images/image-main03.jpg", alt="image description")
        .text-holder
            p 
                a(href="#") Deux jours pour défendre l’îlot Sainte-Marie
    .box
        .img-holder
            img(src="assets/images/image-main04.jpg", alt="image description")
        .text-holder
            p 
                a(href="#") Montravel met tout le monde d’accord en danse
    .box
        .title
            span TOUTE l’INFO
            .logo-box
                img(src="assets/images/logo-main01.png", alt="Europe")
        .block
            .row
                span.data 9 Octobre 2017
                p 
                    a(href="#") Ut enim ad minim veniam, quis nostrud exercitation
            .row
                span.data 6 Octobre 2017
                p 
                    a(href="#") Lorem ipsum dolor sit amet, consectetur adipisicing elit 
            .row
                span.data 3 Octobre 2017
                p 
                    a(href="#") Duis commodo elit molestie dolore fugiat nulla pariatur.
.heading
    h3.h3 à ré écouter
// video of the page
.video-post
    .box
        .img
            img(src="assets/images/image-main05.jpg", alt="image description")
            span.info-like 15
        .text
            .title
                h4.h4 
                    a(href="#") Food That Actually Taste Better When You Freeze
                a(href="#").btn-play
            p Lorem ipsum dolor sit amet, to consectetur  adipi scing elit. Nulla vel vehicula lorem and lacus.
    .box
        .row
            .img-row
                img(src="assets/images/image-main06.jpg", alt="image description")
            .text-row
                .block
                    span.data 28 juillet 2017
                    h3.h3 
                        a(href="#") Duis commodo elit sed nisi molestie
                .block
                    a(href="#").btn-play
        .row
            .img-row
                img(src="assets/images/image-main07.jpg", alt="image description")
            .text-row
                .block
                    span.data 28 juillet 2017
                    h3.h3 
                        a(href="#") Duis commodo elit sed nisi molestie
                .block
                    a(href="#").btn-wifi
        .row
            .img-row
                img(src="assets/images/image-main08.jpg", alt="image description")
            .text-row
                .block
                    span.data 28 juillet 2017
                    h3.h3 
                        a(href="#") Duis commodo elit sed nisi molestie
                .block
                    a(href="#").btn-wifi
// slider of the page
.slider-playlist-box
    h4.h4 la playlist rrb
.owl-carousel.owl-theme.slider-playlist
    a(href="#").slide
        img(src="assets/images/image-main09.jpg", alt="image description")
        .hover-box
            .text
                span.text1 WOMAN HEALING
                span.text2 BEN HARPER
                span.text3 DIAMONDS INSIDE
            .btn-box
                span.info top
                    span.number 3
    a(href="#").slide
        img(src="assets/images/image-main10.jpg", alt="image description")
        .hover-box
            .text
                span.text1 WOMAN HEALING
                span.text2 BEN HARPER
                span.text3 DIAMONDS INSIDE
            .btn-box
                span.info top
                    span.number 2
    a(href="#").slide
        img(src="assets/images/image-main11.jpg", alt="image description")
        .hover-box
            .text
                span.text1 WOMAN HEALING
                span.text2 BEN HARPER
                span.text3 DIAMONDS INSIDE
            .btn-box
                span.info top
                    span.number 2
    a(href="#").slide
        img(src="assets/images/image-main09.jpg", alt="image description")
        .hover-box
            .text
                span.text1 WOMAN HEALING
                span.text2 BEN HARPER
                span.text3 DIAMONDS INSIDE
            .btn-box
                span.info top
                    span.number 2
    a(href="#").slide
        img(src="assets/images/image-main10.jpg", alt="image description")
        .hover-box
            .text
                span.text1 WOMAN HEALING
                span.text2 BEN HARPER
                span.text3 DIAMONDS INSIDE
            .btn-box
                span.info top
                    span.number 2
    a(href="#").slide
        img(src="assets/images/image-main11.jpg", alt="image description")
        .hover-box
            .text
                span.text1 WOMAN HEALING
                span.text2 BEN HARPER
                span.text3 DIAMONDS INSIDE
            .btn-box
                span.info top
                    span.number 2
// facebook of the page
.facebook-baner
    h4.h4 retrouvez-nous sur facebook
    .img
        img(src="assets/images/image-main12.jpg", alt="image description")