// information list of the page
.information-list-box
    h3.h3 Et aussi
    ul.info-list
        li
            ul
                li
                    a(href="#" target="_blank") lien interne
                li
                    a(href="#" target="_blank") lien interne
                li
                    a(href="#" target="_blank") lien interne
        li
            ul
                li
                    a(href="#" target="_blank") lien interne
                li
                    a(href="#" target="_blank") lien interne
                li
                    a(href="#" target="_blank") lien interne
