// nav pages of the site
.nav-page-wrap
    ul.nav-page
        li
            a Les journalistes
        li
            a Les animateurs
        li
            a La direction
        li.is-active
            a Les commerciaux
        li
            a L’accueil
        li
            a Contactez-nous