// nav panel of the page
.nav-panel
    ul.navbar-list
        li.is-active
            a(href="#" target="_blank") en semaine
        li
            a(href="#" target="_blank") samedi
        li
            a(href="#" target="_blank") dimanche
        li
            a(href="#" target="_blank") types
    ul.navbar-info
        li.is-active
            a(href="#" target="_blank") L‘information
        li
            a(href="#" target="_blank") Europe sur RRB
        li
            a(href="#" target="_blank") La musique
        li
            a(href="#" target="_blank") Les rubriques
        li
            a(href="#" target="_blank") Les services