// photos of the site
.photo-grid
    .box
        img(src="assets/images/photo01.jpg", alt="instagram image")
    .box
        img(src="assets/images/photo02.jpg", alt="instagram image")
    .box
        img(src="assets/images/photo03.jpg", alt="instagram image")
    .box
        img(src="assets/images/photo01.jpg", alt="instagram image")
    .box
        img(src="assets/images/photo02.jpg", alt="instagram image")
    .box
        img(src="assets/images/photo03.jpg", alt="instagram image")
    .box
        img(src="assets/images/photo01.jpg", alt="instagram image")
    .box
        img(src="assets/images/photo02.jpg", alt="instagram image")
    .box
        img(src="assets/images/photo03.jpg", alt="instagram image")
    .box
        img(src="assets/images/photo01.jpg", alt="instagram image")