// posts list of the page
.post-list-holder
    .row
        .img-box
            img(src="assets/images/post-img1.jpg", alt="image description")
        .text-box
            .title
                span.name Robert Canal
                span.info  “Monsieur Heureux”
            span.info2 nom émission 1 - nom émission 2
            p Robert, heureux papa d’une famille nombreuse est aussi le copain des auditeurs d’RRB . Sa bonhomie, sa bonne humeur, sa proximité, en font l’un des animateurs les plus populaires de Nouvelle Calédonie et un pilier de l’équipe d’animation depuis longtemps. Robert vous réveille dès 5h du matin en semaine et tient en haleine la Calédonie toute entière, tous les dimanches matin dans son émission Canal Folies où il reçoit plusieurs centaines de messages par SMS ou téléphone.
            .contact
                span.info3 Contact par SMS :
                span.info4 canal au 31 46
    .row
        .img-box
            img(src="assets/images/post-img2.jpg", alt="image description")
        .text-box
            .title
                span.name Robert Canal
                span.info  “Monsieur Heureux”
            span.info2 nom émission 1 - nom émission 2
            p Robert, heureux papa d’une famille nombreuse est aussi le copain des auditeurs d’RRB . Sa bonhomie, sa bonne humeur, sa proximité, en font l’un des animateurs les plus populaires de Nouvelle Calédonie et un pilier de l’équipe d’animation depuis longtemps. Robert vous réveille dès 5h du matin en semaine et tient en haleine la Calédonie toute entière, tous les dimanches matin dans son émission Canal Folies où il reçoit plusieurs centaines de messages par SMS ou téléphone.
            .contact
                span.info3 Contact par SMS :
                span.info4 canal au 31 46
    .row
        .img-box
            img(src="assets/images/post-img1.jpg", alt="image description")
        .text-box
            .title
                span.name Robert Canal
                span.info  “Monsieur Heureux”
            span.info2 nom émission 1 - nom émission 2
            p Robert, heureux papa d’une famille nombreuse est aussi le copain des auditeurs d’RRB . Sa bonhomie, sa bonne humeur, sa proximité, en font l’un des animateurs les plus populaires de Nouvelle Calédonie et un pilier de l’équipe d’animation depuis longtemps. Robert vous réveille dès 5h du matin en semaine et tient en haleine la Calédonie toute entière, tous les dimanches matin dans son émission Canal Folies où il reçoit plusieurs centaines de messages par SMS ou téléphone.
            .contact
                span.info3 Contact par SMS :
                span.info4 canal au 31 46
    .row
        .img-box
            img(src="assets/images/post-img2.jpg", alt="image description")
        .text-box
            .title
                span.name Robert Canal
                span.info  “Monsieur Heureux”
            span.info2 nom émission 1 - nom émission 2
            p Robert, heureux papa d’une famille nombreuse est aussi le copain des auditeurs d’RRB . Sa bonhomie, sa bonne humeur, sa proximité, en font l’un des animateurs les plus populaires de Nouvelle Calédonie et un pilier de l’équipe d’animation depuis longtemps. Robert vous réveille dès 5h du matin en semaine et tient en haleine la Calédonie toute entière, tous les dimanches matin dans son émission Canal Folies où il reçoit plusieurs centaines de messages par SMS ou téléphone.
            .contact
                span.info3 Contact par SMS :
                span.info4 canal au 31 46
    .row
        .img-box
            img(src="assets/images/post-img1.jpg", alt="image description")
        .text-box
            .title
                span.name Robert Canal
                span.info  “Monsieur Heureux”
            span.info2 nom émission 1 - nom émission 2
            p Robert, heureux papa d’une famille nombreuse est aussi le copain des auditeurs d’RRB . Sa bonhomie, sa bonne humeur, sa proximité, en font l’un des animateurs les plus populaires de Nouvelle Calédonie et un pilier de l’équipe d’animation depuis longtemps. Robert vous réveille dès 5h du matin en semaine et tient en haleine la Calédonie toute entière, tous les dimanches matin dans son émission Canal Folies où il reçoit plusieurs centaines de messages par SMS ou téléphone.
            .contact
                span.info3 Contact par SMS :
                span.info4 canal au 31 46