// post of the page
.posts-arhive
    .row
        .time-box
            time 05h00
        .img
            img(src="assets/images/post-img2.jpg", alt="image description")
        .text
            h3.h3 LIONEL SABOT ROBERT CANAL
            time.time 05h00 - 9h00
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut quia consequatur architecto quisquam facere laborum reiciendis voluptas corrupti tempore officiis, reprehenderit, rerum dolores, dignissimos asperiores dolorem optio ipsum? Tempora, vel.
            a.link(href="#") réduire
    .row
        .time-box
            time 05h00
        .img
            img(src="assets/images/post-img2.jpg", alt="image description")
        .text
            h3.h3 LIONEL SABOT ROBERT CANAL
            time.time 05h00 - 9h00
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut quia consequatur architecto quisquam facere laborum reiciendis voluptas corrupti tempore officiis, reprehenderit, rerum dolores, dignissimos asperiores dolorem optio ipsum? Tempora, vel.
            a.link(href="#") réduire
    .row
        .time-box
            time 05h00
        .img
            img(src="assets/images/post-img2.jpg", alt="image description")
        .text
            h3.h3 LIONEL SABOT ROBERT CANAL
            time.time 05h00 - 9h00
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut quia consequatur architecto quisquam facere laborum reiciendis voluptas corrupti tempore officiis, reprehenderit, rerum dolores, dignissimos asperiores dolorem optio ipsum? Tempora, vel.
            a.link(href="#") réduire
    .row
        .time-box
            time 05h00
        .img
            img(src="assets/images/post-img2.jpg", alt="image description")
        .text
            h3.h3 LIONEL SABOT ROBERT CANAL
            time.time 05h00 - 9h00
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut quia consequatur architecto quisquam facere laborum reiciendis voluptas corrupti tempore officiis, reprehenderit, rerum dolores, dignissimos asperiores dolorem optio ipsum? Tempora, vel.
            a.link(href="#") réduire
    .row
        .time-box
            time 05h00
        .img
            img(src="assets/images/post-img2.jpg", alt="image description")
        .text
            h3.h3 LIONEL SABOT ROBERT CANAL
            time.time 05h00 - 9h00
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut quia consequatur architecto quisquam facere laborum reiciendis voluptas corrupti tempore officiis, reprehenderit, rerum dolores, dignissimos asperiores dolorem optio ipsum? Tempora, vel.
