// post of the page
.podcast-posts
    article.post
        .title
            h4.h4 Chronique de la semaine du 23 Octobre
            a(href="#").btn-primary (ré)écouter
        .text
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo....
            a(href="#").link lire la suite
        post-img4.jpg
    article.post
        .title
            h4.h4 Chronique de la semaine du 23 Octobre
            a(href="#").btn-primary (ré)écouter
        .text
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem ut debitis assumenda harum ipsam sint, magni, laboriosam quia excepturi similique reiciendis ea unde cumque numquam voluptatem minus est non soluta!
            a(href="#").link lire la suite
        post-img4.jpg
    article.post
        .title
            h4.h4 Chronique de la semaine du 23 Octobre
            a(href="#").btn-primary (ré)écouter
        .text
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem ut debitis assumenda harum ipsam sint, magni, laboriosam quia excepturi similique reiciendis ea unde cumque numquam voluptatem minus est non soluta!
            a(href="#").link lire la suite
        post-img4.jpg
    article.post
        .title
            h4.h4 Chronique de la semaine du 23 Octobre
            a(href="#").btn-primary (ré)écouter
        .text
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem ut debitis assumenda harum ipsam sint, magni, laboriosam quia excepturi similique reiciendis ea unde cumque numquam voluptatem minus est non soluta!
            a(href="#").link lire la suite
        post-img4.jpg