// sidebar of the page
.sidebar
    .img-ad
        img(src="assets/images/image-sidebar01.jpg", alt="image description")
    a(href="#").facebook-link
        span Rejoignez-nous sur
            strong Facebook
        .img
             img(src="assets/images/facebook-icon.png", alt="image description")
    .sidebar-list
        h4.h4 boîte à outils
        .block
            .row
                span Donnez votre avis
                .img
                    img(src="assets/images/sidebar-icon01.png", alt="image description")
            .row
                span posez vos questions
                .img
                    img(src="assets/images/sidebar-icon02.png", alt="image description")
            .row
                span réagissez en direct
                .img
                    img(src="assets/images/sidebar-icon03.png", alt="image description")
            .row
                span Vous avez une idée
                .img
                    img(src="assets/images/sidebar-icon04.png", alt="image description")
    .img-ad
        img(src="assets/images/image-sidebar02.jpg", alt="image description")