// sidebar of the page
.sidebar
    .img-ad
        img(src="assets/images/image-sidebar01.jpg", alt="image description")
    .img-ad
        img(src="assets/images/image-sidebar02.jpg", alt="image description")