// This is base reset for form elements.
//
// Note: If you use a framework that includes form styling then you need to remove this file.

form,
fieldset {
	margin: 0;
	padding: 0;
	border-style: none;
}

input[type='text'],
input[type='tel'],
input[type='email'],
input[type='search'],
input[type='password'],
textarea {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	box-sizing: border-box;
	padding:0 18px;
	border:2px solid #cdcdcd;
	height:40px;
	background: $white;
	box-shadow:none;
	font:14px/42px 'Arial';
	color:#cdcdcd;
	@include media('<tablet') {
		padding:0 10px;
		height:35px;
	}
	@include placeholder {color:#cdcdcd;}
	&:focus {outline:none;}
}

select {
	-webkit-border-radius: 0;
}

textarea {
	resize: vertical;
	vertical-align: top;
}

button,
input[type='button'],
input[type='reset'],
input[type='file'],
input[type='submit'] {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	cursor: pointer;
}

label {
	font:bold 20px/22px 'TradeGothic';
	text-transform:uppercase;
	color:#000;
	@include media('<tablet') {
		font-size:16px;
		line-height:18px;
	}
	>span {color:$red;}
}

/* custom select style */

.bootstrap-select {
	position:relative;
	>.dropdown-toggle {
		border:2px solid #cdcdcd;
		background: $white;
		box-shadow:none;
		font:14px/36px 'Arial';
		color:#cdcdcd;
		text-align:left;
		padding: 0 35px 0 22px;
		@include media('<desktop') {
			padding:0 35px 0 10px;
		}
		>span {
			display:inline !important;
		}
	}
	>select {left:-9999px;}
	.dropdown-menu{
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 1000;
		display: none;
		float: left;
		min-width: 160px;
		padding: 5px 0;
		margin: -2px 0 0;
		list-style: none;
		font:14px/26px 'Arial';
		background-color: #fff;
		border:2px solid #cdcdcd;
		background-clip: padding-box;
	}
	.dropdown-menu li a {
		display:block;
		padding:0 20px;
		@include media('<tablet') {
			padding:0 10px;
		}
	}
	.btn-default.dropdown-toggle {
		&:focus {
			box-shadow: none;
			outline: none !important;
			background-color:#fff;
			border-color: #cdcdcd;
		}
	}
	&.open > {
		.btn-default.dropdown-toggle:hover {
			box-shadow: none;
			outline: none !important;
			color: #cdcdcd;;
			background-color: #fff;
			border-color: #cdcdcd;
		}
	}
	&.open {
		.bs-caret {transform: rotate(90deg);}
	}
	.dropdown-menu {
		>li {
			a {
				&:focus {
					background-color: #fff;
					outline: none;
					color: #cdcdcd;
				}
				&:hover {color:#cdcdcd;}
			}
		}
	}
	.bs-caret {
		@extend [class^="icon-"];
		@extend .icon-arrow-left;
		@include animate (transform);
		position:absolute;
		right: 19px;
		top: 13px;
		transform: rotate(-90deg);
	}
}
.open>.dropdown-menu {
	display:block;
}