// This is base reset for form elements.
//
// Note: If you use a framework that includes form styling then you need to remove this file.

form,
fieldset {
	margin: 0;
	padding: 0;
	border-style: none;
}

input[type='text'],
input[type='tel'],
input[type='email'],
input[type='search'],
input[type='password'],
textarea {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	box-sizing: border-box;
	border: 1px solid $form-element-border-color;
	padding: $form-element-padding;

	&:focus {
		outline:none;
	}

	@include placeholder {
		color: $placeholder-color;
	}
}

select {
	-webkit-border-radius: 0;
}

textarea {
	resize: vertical;
	vertical-align: top;
}

button,
input[type='button'],
input[type='reset'],
input[type='file'],
input[type='submit'] {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	cursor: pointer;
}

/* custom select style */

.bootstrap-select {
	position:relative;
	>.dropdown-toggle {
		border:3px solid #cdcdcd;
		background: $white;
		box-shadow:none;
		font:14px/26px 'Arial';
		color:#cdcdcd;
		text-align:left;
		>span {
			display:inline !important;
		}
	}
	>select {left:-9999px;}
	.dropdown-menu{
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 1000;
		display: none;
		float: left;
		min-width: 160px;
		padding: 5px 0;
		margin: -3px 0 0;
		list-style: none;
		font:14px/26px 'Arial';
		background-color: #fff;
		border:3px solid #cdcdcd;
		background-clip: padding-box;
	}
	.dropdown-menu li a {
		display:block;
		padding:0 5px;
	}
	.btn-default.dropdown-toggle {
		&:focus {
			box-shadow: none;
			outline: none !important;
			background-color:#fff;
			border-color: #cdcdcd;
		}
	}
	&.open > {
		.btn-default.dropdown-toggle:hover {
			box-shadow: none;
			outline: none !important;
			color: #cdcdcd;;
			background-color: #fff;
			border-color: #cdcdcd;
		}
	}
	.dropdown-menu {
		>li {
			a {
				&:focus {
					background-color: #fff;
					outline: none;
					color: #cdcdcd;
				}
			}
		}
	}
}
.open>.dropdown-menu {
	display:block;
}