doctype html
html(lang='fr')
  include ../partials/head
  body
    include ../partials/header
    // contain main informative part of the site
    main#main
        .container
            .content-holder
                // content of the page
                .content
                    include ../partials/breadcrumb
                    .intro-text
                        h3.h3 Nos fréquences
                        p Radio Rythme Bleu émet sur l'ensemble de la Nouvelle-Calédonie grâce à 17 émetteurs ou réémetteurs qui lui permettent de couvrir la quasi-totalité des zones habitées.
                        .frequency-map
                            .panel
                                span.frequency1 Pnom : 100W
                                span.frequency2 Pnom : : 150W à 500W
                                span.frequency3 Pnom : 1000W
                            .map
                                img(src="assets/images/image-map.jpg", alt="image description")
                        .frequency-list
                            h5.h5 Pour écouter RRB, partout où vous vous trouvez, choisissez la bonne 
                            ul
                                li
                                    .frequency
                                        span 98
                                    .text
                                        p Dumbéa, Canala, Voh, Koné, Pouembout, Yaté
                                li
                                    .frequency
                                        span 103.5
                                    .text
                                        p Bourail, Thio, Kouaoua, Hienghène, Houaïlou, Ponérihouen, Ouégoa, Poum, Belep, Koumac, Kaala-Gomen
                                li
                                    .frequency
                                        span 98
                                    .text
                                        p Dumbéa, Canala, Voh, Koné, Pouembout, Yaté
                                li
                                    .frequency
                                        span 103.5
                                    .text
                                        p Bourail, Thio, Kouaoua, Hienghène, Houaïlou, Ponérihouen, Ouégoa, Poum, Belep, Koumac, Kaala-Gomen
                                li
                                    .frequency
                                        span 98
                                    .text
                                        p Dumbéa, Canala, Voh, Koné, Pouembout, Yaté
                                li
                                    .frequency
                                        span 103.5
                                    .text
                                        p Bourail, Thio, Kouaoua, Hienghène, Houaïlou, Ponérihouen, Ouégoa, Poum, Belep, Koumac, Kaala-Gomen
                                li
                                    .frequency
                                        span 98
                                    .text
                                        p Dumbéa, Canala, Voh, Koné, Pouembout, Yaté
                                li
                                    .frequency
                                        span 103.5
                                    .text
                                        p Bourail, Thio, Kouaoua, Hienghène, Houaïlou, Ponérihouen, Ouégoa, Poum, Belep, Koumac, Kaala-Gomen
                                li
                                    .frequency
                                        span 98
                                    .text
                                        p Dumbéa, Canala, Voh, Koné, Pouembout, Yaté
                                li
                                    .frequency
                                        span 103.5
                                    .text
                                        p Bourail, Thio, Kouaoua, Hienghène, Houaïlou, Ponérihouen, Ouégoa, Poum, Belep, Koumac, Kaala-Gomen
                include ../partials/sidebar
    include ../partials/foot