doctype html
html(lang='fr')
	- var name = "rrb"
	include ../partials/head
	body
		include ../partials/header
		// contain main informative part of the site
		main#main
			.container
				.content-holder
					.content(style="dispaly:flex;justify-content:center; font-size:16px;")
						h5 List of pages
						ul
							li
								a(href="home.html") home
							li
								a(href="animateurs.html") animateurs
							li
								a(href="archives.html") archives
							li
								a(href="contact.html") contact
							li
								a(href="direct.html") direct
							li
								a(href="frequences.html") frequences
							li
								a(href="grille.html") grille
							li
								a(href="histoire.html") histoire
							li
								a(href="journalistes.html") journalistes
							li
								a(href="podcast.html") podcast
							li
								a(href="programmes.html") programmes
					include ../partials/sidebar
		include ../partials/foot