doctype html
html(lang='fr')
  include ../partials/head
  body
    include ../partials/header
    // contain main informative part of the site
    main#main
        .container
            include ../partials/banner-home
            .content-holder
                // content of the page
                .content
                    include ../partials/home-content
                include ../partials/sidebar
    include ../partials/foot