doctype html
html(lang='fr')
  include ../partials/head
  body
    include ../partials/header
    // contain main informative part of the site
    main#main
        .container
            .content-holder
                // content of the page
                .content
                    include ../partials/breadcrumb
                    include ../partials/nav-pages
                    .intro-text
                        h3.h3 Les animateurs
                        p The one constant thing in our life is change. We cannot avoid it and the more we resist change the tougher our life becomes. I know this because I was very skilled at deflecting change in life.
                    include ../partials/photo-grid
                    include ../partials/post-list
                include ../partials/sidebar
    include ../partials/foot