doctype html
html(lang='fr')
  include ../partials/head
  body
    - var name = "program"
    include ../partials/header
    // contain main informative part of the site
    main#main
        .container
            .content-holder
                // content of the page
                .content
                    include ../partials/breadcrumb
                    h3.h3 Notre grille
                    .nav-panel
                        ul.navbar-list
                            li.active
                                a(href="#en_semaine" data-toggle="tab") en semaine
                            li
                                a(href="#samedi" data-toggle="tab") samedi
                            li
                                a(href="#dimanche" data-toggle="tab") dimanche
                            li
                                a(href="#types" data-toggle="tab") types
                        ul.navbar-info
                            li.is-active
                                a(href="#" target="_blank") L‘information
                            li
                                a(href="#" target="_blank") Europe sur RRB
                            li
                                a(href="#" target="_blank") La musique
                            li
                                a(href="#" target="_blank") Les rubriques
                            li
                                a(href="#" target="_blank") Les services
                    // post of the page
                    .tab-pane.posts-arhive.no-time#en_semaine.active
                        .row
                            .img
                                img(src="assets/images/post-img2.jpg", alt="image description")
                            .text
                                a(href="#").h3 LIONEL SABOT ROBERT CANAL
                                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut quia consequatur architecto quisquam facere laborum reiciendis voluptas corrupti tempore officiis, reprehenderit, rerum dolores, dignissimos asperiores dolorem optio ipsum? Tempora, vel.
                                time.time(datetime="2012-12-23T08:23:11+07:00") Le vendredi à 17h00 et le samedi à 11h00
                                span.reminders Des rappels des titres et des flash à 7h00 - 7h30 - 8h00 - 11h00 - 13h00 - 17h00 - 19h00
                        .row
                            .img
                                img(src="assets/images/post-img2.jpg", alt="image description")
                            .text
                                h3.h3 LIONEL SABOT ROBERT CANAL
                                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut quia consequatur architecto quisquam facere laborum reiciendis voluptas corrupti tempore officiis, reprehenderit, rerum dolores, dignissimos asperiores dolorem optio ipsum? Tempora, vel.
                                time.time(datetime="2012-12-23T08:23:11+07:00") Le vendredi à 17h00 et le samedi à 11h00
                        .row
                            .img
                                img(src="assets/images/post-img2.jpg", alt="image description")
                            .text
                                h3.h3 LIONEL SABOT ROBERT CANAL
                                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut quia consequatur architecto quisquam facere laborum reiciendis voluptas corrupti tempore officiis, reprehenderit, rerum dolores, dignissimos asperiores dolorem optio ipsum? Tempora, vel.
                                time.time(datetime="2012-12-23T08:23:11+07:00") Le vendredi à 17h00 et le samedi à 11h00
                        .row
                            .img
                                img(src="assets/images/post-img2.jpg", alt="image description")
                            .text
                                h3.h3 LIONEL SABOT ROBERT CANAL
                                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut quia consequatur architecto quisquam facere laborum reiciendis voluptas corrupti tempore officiis, reprehenderit, rerum dolores, dignissimos asperiores dolorem optio ipsum? Tempora, vel.
                                time.time(datetime="2012-12-23T08:23:11+07:00") Le vendredi à 17h00 et le samedi à 11h00
                        .row
                            .img
                                img(src="assets/images/post-img2.jpg", alt="image description")
                            .text
                                h3.h3 LIONEL SABOT ROBERT CANAL
                                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut quia consequatur architecto quisquam facere laborum reiciendis voluptas corrupti tempore officiis, reprehenderit, rerum dolores, dignissimos asperiores dolorem optio ipsum? Tempora, vel.
                                time.time(datetime="2012-12-23T08:23:11+07:00") Le vendredi à 17h00 et le samedi à 11h00
                    .tab-pane.posts-arhive.no-time#samedi
                        .row
                            h2.h2 Tab #Samedi
                    .tab-pane.posts-arhive.no-time#types
                        .row
                            h2.h2 Tab #types
                    .tab-pane.posts-arhive.no-time#dimanche
                        .row
                            h2.h2 Tab #dimanche
                include ../partials/sidebar
    include ../partials/foot