
  
  @font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon/icomoon.eot?i8xp5v');
    src:  url('../fonts/icomoon/icomoon.eot?i8xp5v#iefix') format('embedded-opentype'),
      url('../fonts/icomoon/icomoon.ttf?i8xp5v') format('truetype'),
      url('../fonts/icomoon/icomoon.woff?i8xp5v') format('woff'),
      url('../fonts/icomoon/ icomoon.svg?i8xp5v#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-youtube:before {
    content: "\e901";
  }
  .icon-radio:before {
    content: "\e908";
  }
  .icon-chat-bubbles:before {
    content: "\e902";
  }
  .icon-chat:before {
    content: "\e903";
  }
  .icon-frequence:before {
    content: "\e904";
  }
  .icon-lamp:before {
    content: "\e905";
  }
  .icon-play:before {
    content: "\e906";
  }
  .icon-podcast:before {
    content: "\e907";
  }
  .icon-rss:before {
    content: "\e90f";
  }
  .icon-tv:before {
    content: "\e910";
  }
  .icon-arrow-left:before {
    content: "\e911";
  }
  .icon-google:before {
    content: "\e900";
  }
  .icon-twitter:before {
    content: "\e914";
  }
  .icon-search:before {
    content: "\e915";
  }
  .icon-facebook:before {
    content: "\e913";
  }
  .icon-twitter:before {
    content: "\e914";
  }
  .icon-search:before {
    content: "\e915";
  }
  .icon-favorite_border:before {
    content: "\e916";
  }
  .icon-favorite:before {
    content: "\e917";
  }
  