/* breadcrumb style */
$breadcrumb-color: #777272;

.breadcrumb-wrap {
	margin:0 0 27px;
	@include media('<tablet') {margin:0 0 15px;}
	.breadcrumb {
		@extend %listreset;
		display: flex;
		font-size:14px;
		line-height:16px;
		font-weight: 500;
		li {
			color:$breadcrumb-color;
			position:relative;
			padding:0 15px 0 0;
			&:last-child{
				a{
					pointer-events:none;
				}
			}
			&:not(:last-child) {
				&:after
			{
					content:	'\003E';
					position:absolute;
					right: 3px;
					top: 0px;
					bottom: 0;
					line-height: inherit;
				}
			
			}
		}
		a {
			@include animate(color);
			color:$breadcrumb-color;
			text-decoration:none;
			&:hover {color:$blue;}
		}
	}
}
