#footer {
    background: $blue;
    padding: 44px 0 55px;
    color: $white;
    @include media('<tablet') {
        padding-bottom: 70px;
        padding-top: 32px;
        position: relative;
    }
    .col-wrapper {
        display: flex;
        @include media('<desktop') {
            flex-wrap: wrap;
        }
    }
    .col {
        padding:0 4px;
        max-width: 276px;
        margin-right: 23px;
        @include media('<desktop') {
            width: 50% !important;
            max-width: none !important;
            margin: 0 0 40px !important; 
            padding: 0 20px;
        }
        @include media('<phone') {
            width: 100% !important;
            margin-bottom: 15px !important;
        }
        &:nth-child(2) {
            max-width: 194px;
            margin-right: 13px;
        }
        &:nth-child(3){
            @include media('<640px') {
            width: 100% !important;
            }
        }
        &:last-child {
flex-grow: 1;
            max-width: 414px;
            padding-top: 41px;
            padding-left: 28px;
            @include media('<640px') {
                display: none;
            }
        }
        .title {
            font-size: 18px;
            font-family: $base-font-montserrat;
            font-weight: bold;
            display: block;
            margin-bottom: 24px;
            text-transform: uppercase;
            @include media('<phone') {
                font-size: 14px;
                text-align: center;
                margin-bottom: 8px;
            }
        }
    }
    .twitter-holder {
        margin: 0 0 22px;
        @include media('<phone') {
            max-height: 56px;
            overflow: hidden;
            margin-bottom: 0;
        }
       
        img {
            width: 100%;
        }
    }
    .social-holder{
        .title{
            @include media('<tablet') { 
                display:none;
            }
        }
    }
    .inst-img-list {
        @extend %listreset;
        display: flex;
        flex-wrap: wrap;
        @include media('<phone') {
        li + li + li + li{
            display: none;
        }
    }
        li {
            width: 46%;
            margin: 0 4% 3px 0;
           
            @include media('<desktop') {
                width: 29%;
            }
            img {
                width: 100%;
                max-width: none;
            }
            a {
                opacity: 1;
                @include animate(opacity);
                &:hover {
                    opacity: .8;
                }
            }
        }
    }
    .contact-form {
        input,
        textarea {
            height: 45px;
            font-size: 14px;
            line-height: 45px;
            border: 1px solid #6691ba;
            font-family: "Arial";
            font-weight: bold;
            padding: 0 14px;
            border-radius: 5px;
            display: block;
            margin-bottom: 10px;
            width: 100%;
            background: transparent;
            @include media('<phone') {
                font-size: 10px;
                height: 26px;
                border-radius:3px;
                margin-bottom: 5px;padding: 5px;
            }
        }
        textarea{
            height: 121px;
            resize: none;
            @include media('<phone') {
                height: 68px;
                padding: 5px;
                line-height: 1.1;
            }
        }
        button {
            font-family: $base-font-montserrat;
            font-weight: 600;
            width: 100%;
            background: $light-blue;
            padding: 10px 15px;
            font-size: 18px;
            border-radius: 5px;
            opacity: 1;
            color:inherit;
            border:none;
            @include animate(opacity);
            @include media('<phone') {
                font-size: 11px;
                padding: 7px;
                font-weight: 400;
                border-radius:3px;
            }
            &:hover {
                opacity: .8;
            }
        }
    }
}

.social-net-share {
    @extend %listreset;
    margin:-11px 0  0 -4px;
    display: flex;
    @include media('<tablet') {
        position: absolute;
        bottom:20px;
        left:50%;
        transform:translateX(-48%);
    }
    li {
        width: 36px;
        height: 36px;
        display: inline-block;
        margin-right: 10px;
        font-size: 18px;
        background: $gray;
        border-radius: 50%;
        &:last-child{
            margin-right: 0 !important;
        }
        &.social-facebook {
            background: #3b5999;
        }
        &.social-twitter {
            background: #55acee;
        }
        &.social-vk {
            background: #4c75a3;
        }
        &.social-pinterest {
            background: #ff2e56;
        }
        &.social-tumblr {
            background: #34465d;
        }
        &.social-dribbble {
            background: #ea4c89;
            margin-right: 0;
        }
        a {
            color: inherit;
            text-decoration: none;
            display: block;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}