#header {
    overflow: hidden;
    position: relative;
    padding-top: 42px;
    margin-bottom: 10px;
    @include media('<desktop') {
        padding-top: 36px;
    }
    @include media('<tablet') {
        overflow: visible;
        padding-top: 0;
        margin-bottom: 40px;
    }
    .container.mh-item{
        margin-bottom: 10px;
    }
}

.header-top {
    @extend %clearfix;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    max-width: 1210px;
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
    justify-content: flex-start;
    @include media('<tablet') {
        position: relative;
        background: $white;
        flex-wrap: wrap;
        z-index: 20;
        padding-top: 10px;
        padding-left: 0;
        padding-right: 0;
    }
    .nav-list {
        @extend %listreset;
        display: flex;
        font-size: 19px;
        @include media('<widescreen') {
            font-size: 17px;
        }
        @include media('<desktop') {
            font-size: 15px;
        }
        @include media('<tablet') {
            flex-wrap: wrap;
            width: 100%;
            order: 3;
            margin-top: 18px;
        }
        li {
            @include media('<tablet') {
                width: 50%;
                border: 1px solid #e0e0e0;
                border-bottom: none;
            }
            @include media('<phone') {
                width: 100%;
                border-left: none;
                border-right: none;
            }
        }
        a {
            @include animate(opacity);
            display: inline-block;
            padding: 5px 23px 5px 23px;
            border-left: 1px solid #bdbdf2;
            text-decoration: none;
            text-transform: uppercase;
            opacity: 1;
            @include media('<widescreen') {
                padding: 5px 20px;
            }
            @include media('<desktop') {
                padding: 4px 8px;
            }
            @include media('<tablet') {
                padding: 6px 6px 5px;
                border: none;
                display: block;
                text-align: center;
            }
            @include media('<phone') {
                text-align: left;
                padding-left: 93px;
                font-size: 18px;
            }
            &:hover {
                opacity: .85;
            }
            i {
                font-size: 28px;
                display: inline-block;
                margin-right: 10px;
                @include media('<desktop') {
                    font-size: 22px;
                    margin-right: 5px;
                }
                @include media('<phone') {
                    font-size: 23px;
                    min-width: 23px;
                    margin-right: 10px;
                }
            }
        }
    }
    .logo-full {
        margin: 0 auto 0;
        transform: translateY(3px);
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 202px;
        height: 36px;
        &.hide {
            opacity: 0;
            width: 0;
            overflow: hidden;
        }
        @include media('<desktop') {
            width: 150px
        }
        @include media('<tablet') {
            order: 1;
        }
        @include media('<phone') {
            margin-left: 87px;
        }
        img {
            vertical-align: top;
            width: 100%;
            height: auto;
        }
    }
    .search-form {
        z-index: 11;
        position: relative;
        @include media('<tablet') {
            order: 2;
        }
    }
}

.search-form {
    background-color: $gray;
    display: inline-block;
    border-radius: 20px;
    position: relative;
    margin-right: 4px;
    margin-left: 15px;
    @include media('<tablet') {
        margin-right: 19px;
    }
    input[type="text"] {
        height: 24px;
        line-height: 24px;
        width: 220px;
        padding: 0 40px 0 15px;
        background: transparent;
        border: none;
        font-size: 13px;
        @include animate(width);
        @include media('<widescreen') {
            width: 200px;
        }
        @include media('<desktop') {
            width: 160px;
        }
        @include media('<tablet') {
            padding: 0 10px;
        }
        &:focus {
            outline: none !important;
        }
        @include placeholder {
            color: rgba($black, .38);
        }
        @include media('<phone') {
            height: 20px;
        }
    }
    button[type="submit"] {
        background: $blue;
        color: $white;
        border: none;
        border-radius: 50%;
        width: 26px;
        height: 26px;
        display: inline-block;
        display: flex;
        align-content: center;
        align-items: center;
        font-size: 12px;
        position: absolute;
        right: 0;
        top: -1px;
        opacity: 1;
        font-size: 14px;
        text-align: center;
        @include animate(opacity);
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
        @include media('<phone') {
            width: 22px;
            height: 22px;
            font-size: 11px;
        }
        &:hover {
            opacity: .85;
        }
    }
    &:not(.opened) {
        input[type="text"] {
            @include media('<phone') {
                width: 0;
                padding: 0 10px;
            }
        }
        button[type="submit"] {
            @include media('<phone') {
                pointer-events: none;
            }
        }
    }
}

.header-center {
    background: linear-gradient(to right, #46acdb 1%, #022c47 100%);
    @include media('<tablet') {
        height: 65px;
    }
    .header-center-top-wrapper {
        position: relative;
        @extend %clearfix;
        @include media('>1250') {
            margin: 0 -32px 0 0;
        }
        @include media('<tablet') {
            display: flex;
            justify-content: space-between;
            align-items: stretch;
            &:after {
                display: none;
            }
            @include media('<phone') {
                justify-content: flex-start;
                align-items: flex-start;
            }
        }
        .logo {
            float: left;
            margin-right: 7%;
            display: inline-block;
            width: 244px;
            height: 133px;
            opacity: 1;
            display: flex;
            align-items: center;
            padding-top: 20px;
            @include animate(opacity);
            @include media('<1270px') {
                margin-right: 50px;
            }
            @include media('<widescreen') {
                width: 190px;
                margin-right: 20px;
                height: auto;
                padding-top: 15px;
            }
            @include media('<desktop') {
                width: 140px;
            }
            @include media('<tablet') {
                width: 95px;
                padding: 6px 0 5px;
                margin-left: 10%;
            }
            @include media('<phone') {
                padding: 8px 0 5px;
                margin-left: 32px;
            }
            &:hover {
                opacity: .85;
            }
            img {
                vertical-align: top;
                width: 100%;
            }
        }
        .hero-holder {
            display: flex;
            align-items: flex-end;
            justify-content: center;
            float: left;
            margin-right: 11px;
            @include media('<tablet') {
                display: none;
            }
            img {
                align-self: bottom;
                flex-shrink: 1;
                max-width: 240px;
                @include media('<widescreen') {
                    max-width: 200px;
                }
                @include media('<desktop') {
                    max-width: 150px;
                }
            }
            .name-holder {
                color: $white;
                max-width: 260px;
                padding-bottom: 31px;
                .descr {
                    font-size: 15px;
                    color: $yellow;
                    display: block;
                    position: relative;
                    padding-left: 28px;
                    &:before {
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: 0;
                        transform: translateY(-50%);
                        width: 18px;
                        height: 18px;
                        background: currentColor;
                        display: inline-block;
                        border-radius: 50%;
                    }
                }
                .name {
                    font-size: 45px;
                    display: block;
                    text-transform: uppercase;
                    letter-spacing: 0.3px;
                    white-space: nowrap;
                    line-height: 1.1;
                    @include media('<widescreen') {
                        font-size: 42px;
                    }
                    @include media('<desktop') {
                        font-size: 24px;
                    }
                }
            }
        }
    }
    .header-center-bottom {
        background: $blue;
    }
}