#header {
    overflow: hidden;
}

.header-top {
    @extend %clearfix;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .nav-list {
        @extend %listreset;
        display: flex;
        font-size: 19px;
        @include media('<widescreen') {
            font-size: 17px;
        }
        @include media('<desktop') {
            font-size: 15px;
        }
        a {
            @include animate(opacity);
            display: inline-block;
            padding: 8px 30px;
            border-left: 1px solid #bdbdf2;
            text-decoration: none;
            text-transform: uppercase;
            opacity: 1;
            @include media('<widescreen') {
                padding: 8px 20px;
            }
            @include media('<desktop') {
                padding: 5px 8px;
            }
            &:hover {
                opacity: .85;
            }
            i {
                font-size: 28px;
                display: inline-block;
                margin-right: 10px;
                @include media('<desktop') {
                    font-size: 22px;
                    margin-right: 5px;
                }
            }
        }
    }
    .logo-full {
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 202px;
        height: 36px;
        @include media('<desktop') {
            width: 150px
        }
        img {
            vertical-align: top;
            width: 100%;
            height: auto;
        }
    }
}

.search-form {
    background-color: $gray;
    display: inline-block;
    border-radius: 20px;
    position: relative;
    input[type="text"] {
        height: 23px;
        line-height: 23px;
        width: 220px;
        padding: 0 40px 0 15px;
        background: transparent;
        border: none;
        font-size: 13px;
        @include media('<widescreen') {
            width: 200px;
        }
        @include media('<desktop') {
            width: 160px;
        }
        &:focus {
            outline: none !important;
        }
        @include placeholder {
            color: rgba($black, .38);
        }
    }
    button[type="submit"] {
        background: $blue;
        color: $white;
        border: none;
        border-radius: 50%;
        width: 23px;
        height: 23px;
        display: inline-block;
        display: flex;
        align-content: center;
        align-items: center;
        font-size: 12px;
        position: absolute;
        right: 0;
        top: 0;
        opacity: 1;
        @include animate(opacity);
        &:hover {
            opacity: .85;
        }
    }
}

.header-center {
    background: linear-gradient(to right, #46acdb 1%, #022c47 100%);
    .header-center-top-wrapper {
        display: flex;
        align-items: center;
        position: relative;
        @include media('>1250') {
            margin: 0 -32px 0 0;
        }
        .logo {
            margin-right: 3%;
            display: inline-block;
            width: 244px;
            height: 133px;
            opacity: 1;
            display: flex;
            align-items: center;
            @include animate(opacity);
            @include media('<widescreen') {
                width: 200px;
                margin: 0 auto;
            }
            @include media('<desktop') {
                width: 150px
            }
            &:hover {
                opacity: .85;
            }
            img {
                vertical-align: top;
                width: 100%;
            }
        }
        .hero-holder {
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                align-self: bottom;
                flex-shrink: 1;
                max-width: 231px;
                @include media('<widescreen') {
                    max-width: 200px;
                }
                @include media('<desktop') {
                    max-width: 150px;
                }
            }
            .name-holder {
                color: $white;
                max-width: 260px;
                .descr {
                    font-size: 15px;
                    color: $yellow;
                    display: block;
                    position: relative;
                    padding-left: 22px;
                    &:before {
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: 0;
                        transform: translateY(-50%);
                        width: 18px;
                        height: 18px;
                        background: currentColor;
                        display: inline-block;
                        border-radius: 50%;
                    }
                }
                .name {
                    font-size: 45px;
                    display: block;
                    text-transform: uppercase;
                    @include media('<widescreen') {
                        font-size: 30px;
                    }
                    @include media('<desktop') {
                        font-size: 24px;
                    }
                }
            }
        }
    }
    .apps-box {
        display: flex;
        align-items: center;
        margin-left: 25px;
        position: relative;
        .player {
            @include media('<widescreen') {
                width: 160px;
            }
            @include media('<desktop') {
                width: 130px;
                height: 84px;
            }
            flex-shrink: 0;
            width: 204px;
            height: 104px;
            text-align: left;
            background: #f5f5f5;
            border-radius: 20px;
            margin-right: 8px;
            color: $blue;
            padding: 5px 11px 5px 15px;
            text-transform: uppercase;
            line-height: 1.1;
            position: relative;
            .top-title {
                font-size: 18px;
                display: block;
                font-weight: bold;
                @include media('<widescreen') {
                    font-size: 16px;
                }
                @include media('<desktop') {
                    font-size: 13px;
                }
            }
            .main-title {
                font-size: 25px;
                width: 100%;
                display: block;
                white-space: nowrap;
                text-overflow: ellipsis;
                font-weight: bold;
                margin-bottom: 4px;
                overflow: hidden;
                @include media('<widescreen') {
                    font-size: 18px;
                }
                @include media('<desktop') {
                    font-size: 14px;
                }
            }
            .progress {
                background: #7ca0c1;
                height: 4px;
                position: relative;
                margin-left: 44px;
                margin-bottom: 5px;
                @include media('<widescreen') {
                    margin-left: 22px;
                }
                @include media('<desktop') {
                    font-size: 15px;
                    margin-left: 0;
                }
                .remaining {
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 4px;
                    background: $blue;
                }
            }
            .bottom-info {
                padding-left: 44px;
                @include media('<widescreen') {
                    padding-left: 22px;
                }
                @include media('<desktop') {
                    padding-left: 0;
                }
                .track-info {
                    display: block;
                    padding-left: 10px;
                    font-style: italic;
                    font-size: 12px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    font-family: $base-font-myriad;
                    @include media('<widescreen') {
                        font-size: 11px;
                    }
                    @include media('<desktop') {
                        font-size: 10px;
                        padding-left: 0;
                    }
                }
                .author {
                    font-size: 22px;
                    font-weight: bold;
                    display: block;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    @include media('<widescreen') {
                        font-size: 17px;
                    }
                }
            }
            .play-button {
                display: block;
                border: none;
                background: $red;
                font-size: 28px;
                height: 62px;
                width: 62px;
                border: 2px solid $red;
                color: $white;
                border-radius: 50%;
                position: absolute;
                left: -15px;
                bottom: -15px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding-left: 12px;
                opacity: 1;
                @include animate(background-color color border-color);
                @include media('<widescreen') {
                    width: 50px;
                    height: 50px;
                }
                @include media('<desktop') {
                    width: 35px;
                    height: 35px;
                    font-size: 14px;
                    padding-left: 10px;
                }
                &:hover {
                    color: $red;
                    background-color: $white;
                }
                i {
                    color: inherit;
                }
            }
        }
        .weather-holder {
            flex-shrink: 0;
            &>img {
                vertical-align: top;
            }
            @include media('<desktop') {
                width: 130px;
            }
        }
        .clock-holder {
            position: absolute;
            left: calc(100% + 15px);
            width: 129px;
            height: 129px;
            flex-shrink: 0;
            @include media('<1500px') {
                width: 90px;
                height: 90px;
            }
            @include media('<1400px') {
                display: none;
            }
        }
    }
    .header-center-bottom {
        background: $blue;
    }
}